@use 'font';

.børnelejren-info {
  max-width: 900px;
  margin: 50px auto 20px;
  padding: 30px;
  background-color: #fdfdfd;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
  font-family: "Segoe UI", sans-serif;
  color: #333;
  line-height: 1.7;

  .tak-title {
    font-size: 2rem;
    font-weight: 700;
    color: #d0000b;
    margin-bottom: 20px;
    text-align: center;
     font-family: 'Urbanist', sans-serif;
  }

  p {
    font-size: 1rem;
    text-align: center;
     font-family: 'Urbanist', sans-serif;
  }
}

.tak-subtitle {
  font-size: 1.4rem;
  font-weight: 600;
  color: #d0000b;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
   font-family: 'Urbanist', sans-serif;
}

.børnelejren-pic {
  width: 100%;
  height: 200px;
  background-image: url("/Billeder/Fotos/topkids.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

   }



.tak-subtitle {
  margin-top: 2rem;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

.sponsor-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 20px;
  gap: 10px;
  text-align: center;
  margin-bottom: 20px;
}

.sponsor-card {
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 15px;

}



.sponsor-card strong {
  font-size: 1rem;
  display: block;
  margin-bottom: 10px;
  font-family: 'Urbanist', sans-serif;
}

.sponsor-card p {
  font-size: 1rem;
  font-family: 'Urbanist', sans-serif;
}
